.goUpButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.icon {
    width: 1.5rem;
    height: 1rem;
    margin-bottom: 0.3rem;
    /* vertical-align: -.185rem; */
}
.goUpButton:hover {
    opacity: 0.7;
}

@media screen and (max-width: 750px) {
    .goUpButton {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 10px;
    }
}